# Hexfiles
#*.s19
#*.hex
#*.txt
#*.bin
input/*
output/*

# Object files
*.o
Objects/*

# Executables
hexfile_merger
hexfile_merger.exe
dump.*
*.sh

# Doxygen output
doxygen/html/*
doxygen/latex/*
doxygen/man/*
doxygen/rtf/*
doxygen/xml/*
/muexe_stm8.s19

# Test overview list
*.ods
