# Object files
*.o
lib/*

# Executables
hexfile_merger*

# Doxygen output
doxygen/html/*
doxygen/latex/*
doxygen/man/*
doxygen/rtf/*
doxygen/xml/*

# Hexfiles
#*.s19
#*.hex
#*.txt
#*.bin
testing/*

# Test overview list
*.ods

# VSCode & PlatformIO files
.vscode/*
.vscode/launch.json
.pio/*
.pioenvs
.piolibdeps
.vscode/launch.json
