# Hexfiles
#*.s19
#*.hex
#*.txt

# Object files
*.o

# Executables
hexfile_merger
hexfile_merger.exe
dump.*

# Doxygen output
doxygen/html/*
doxygen/latex/*
doxygen/man/*
doxygen/rtf/*
doxygen/xml/*
/muexe_stm8.s19
